




  $primary-dark:shady-colors.primary-dark($primary-theme)!default;
  $primary-light:shady-colors.primary-light($primary-theme)!default;
  $accent-dark:shady-colors.accent-dark($primary-theme)!default;
  $accent-light:shady-colors.accent-light($primary-theme)!default;

