<header>
  <nav appScrollColor class="navbar navbar-expand-md">
    <div class="container">
      <div>
        <a class="navbar-brand override" routerLink="/">
          log
        </a>
        <span>{{title}}</span>
      </div>
      <div (click)="toggleNavDrawer(!isDrawerOpen)" [class.drawer-open]="isDrawerOpen" class="nav-toggle"
           id="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <app-nav-drawer (drawerToggleEmitter)="toggleNavDrawer($event)" [isDrawerOpen]="isDrawerOpen"
                      [navItems]="menuItems"></app-nav-drawer>
    </div>
  </nav>
</header>
